body {
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 18px;
  font-size: 44px;
  font-weight: bold;
}

h2 {
  font-size: 44px;
  color: white;
  font-weight: bold;
  padding: 40px 50px;
}

@media screen and (max-width: 900px) {
  h1,
  h2 {
    font-size: 22px;
  }
}

section {
  margin: 30px 0;
  max-width: 80%;
  margin: 0 auto;
}

.text-hero {
  color: white;
  font-size: 18px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 80%;
}

.text-hero > p:nth-child(2) {
  max-width: 50%;
}

.hero {
  max-width: 100%;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.5),
      rgba(20, 20, 20, 0.5)
    ),
    url("img/hero.jpg");
  height: 750px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
  .hero {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
  }
  .text-hero {
    font-size: 14px;
  }
}

.dates {
  margin: 15px 0;
  text-align: center;
}

.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: #f08b5b;
  border-color: #f08b5b;
}

.btn-radio {
  background-color: white;
  color: #c6c6c6;
  font-weight: bold;
  border-color: #c6c6c6;
}

.button .btn-radio:hover,
.button .btn-radio:active {
  background-color: white;
  color: #6b336f;
  font-weight: bold;
  border-color: #6b336f;
}

.card {
  border: none;
}

.master-card {
  padding: 5px;
  padding-bottom: 10%;
  display: flex;
}

.picture-size {
  width: 320px;
  height: 480px;
}

.actualite {
  max-width: 40%;
}

.actualite > h1 {
  margin-top: 50px;
}
.img-party {
  position: static;
  width: 439.66px;
  height: 328.31px;
  left: 864.72px;
  top: 375.91px;
}

.event-bloc {
  display: flex;
  padding-bottom: 5%;
  padding-top: 5%;
}

.event-bloc * {
  margin: 20px;
}
.img-fest {
  width: 1280px;
  height: 398.63px;
  left: 80px;
  top: 4323.79px;
}

.card-info {
  display: flex;
}

.card-info-text {
  margin-right: 30px;
}

@media screen and (max-width: 500px) {
  .picture-size {
    width: 115.61px;
    height: 174.63px;
  }
  .img-fest {
    width: 280px;
    height: 202.52px;
    left: 0px;
    top: 440.16px;
  }
  .event-bloc {
    display: block;
  }
  .img-party {
    width: 280px;
    height: 202.52px;
    left: 0px;
    top: 440.16px;
  }
  .master-card {
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .card-info {
    display: block;
  }
  .card-text {
    display: none;
  }
  .card-text-mobile {
    display: block;
    width: 280px;
    height: 312px;
    left: 0px;
    top: 257.27px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* or 130% */

    text-align: justify;
  }
  .btn-primary {
    display: none;
  }
  .btn-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 280px;
    height: 34px;
    left: 0px;
    margin-top: 20px;
  }
  .noOnMobile {
    display: none;
  }
  .actualite {
    width: 280px;
   margin: 10%;
  }
  .card-img-top {
    width: 280px;
height: 193.79px;
left: 0px;
top: 105.4px;
  }
}
